extends layout

append scripts
  script(language='javascript', type='text/javascript', src="https://cdn.plot.ly/plotly-latest.min.js")
  script(language='javascript', type='text/javascript', src="/scripts/index.js", id="main", data-years=years, data-expenses=expenses)

append content
  div(ng-controller='MainController')
    form.form-horizontal
      .form-group
        label.col-sm-2.control-label #{viewMessage.age}:
        .col-sm-10
          div(ui-select, ng-model='age.selected')
            div(ui-select-match placeholder='Select or input age in the list.') {{$select.selected}}
            div(ui-select-choices, repeat="a in ages|filter:$select.search") {{a}}
      br
      legend #{viewMessage.rent}
      .form-group
        label.col-sm-2.control-label #{viewMessage.houseRent}:
        .col-sm-10
          input.form-control(type='text' ng-model='rent' ng-pattern="regex")
          span(ng-hide="rent") #{validationErrorMessage.isNumeric}
      br
      legend #{viewMessage.loan}
      .form-group
        label.col-sm-2.control-label #{viewMessage.loanAmount}：
        .col-sm-10
          input.form-control(type='text' ng-model='loan')
      .form-group
        label.col-sm-2.control-label #{viewMessage.rate}：
        .col-sm-10
          .input-group
            span.input-group-addon %
            input.form-control(type='text' ng-model='rate')
      .form-group
        label.col-sm-2.control-label #{viewMessage.loanPeriod}：
        .col-sm-10
          input.form-control(type='text' ng-model='year')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(ng-click="onClick()") #{viewMessage.send}

  #expenseGraph(style='width: 480px; height: 400px;')