extends layout

block scripts
  script(language='javascript', type='text/javascript', src="https://cdn.plot.ly/plotly-latest.min.js")
  script(language='javascript', type='text/javascript', src="/scripts/index.js", id="main", data-years=years, data-expenses=expenses)

block content
  h1= title
  div(ng-controller='MainController')
    p #{viewMessage.age}:
    select(ng-model="age", ng-options="a for a in ages")
    h2 #{viewMessage.rent}
    p #{viewMessage.houseRent}:
    input(tyoe='text' ng-model='rent' ng-pattern="regex")
    span(ng-hide="rent") #{validationErrorMessage.isNumeric}

    h2 #{viewMessage.loan}
    p #{viewMessage.loanAmount}：
    input(tyoe='text' ng-model='loan')
    p #{viewMessage.rate}：
    input(tyoe='text' ng-model='rate')
    p #{viewMessage.loanPeriod}：
    input(tyoe='text' ng-model='year')
    br
    br
    button(ng-click="onClick()") #{viewMessage.send}

  #expenseGraph(style='width: 480px; height: 400px;')