extends layout

append scripts
  script(language='javascript', type='text/javascript', src="https://cdn.plot.ly/plotly-latest.min.js")
  script(language='javascript', type='text/javascript', src="/scripts/index.js", id="main", data-years=years, data-expenses=expenses)

append content
  div(ng-controller='MainController')
    form.form-horizontal
      // 年齢
      .form-group
        label.col-sm-2.control-label #{viewMessage.age}:
        .col-sm-10
          div(ui-select, ng-model='age.selected')
            div(ui-select-match placeholder='#{viewMessage.inputAge}') {{$select.selected}}
            div(ui-select-choices, repeat="a in ages|filter:$select.search") {{a}}
      hr
      // 系列
      ul.nav.nav-tabs
        li.active(role='presentation')
          a(href='#') #1
        li(role='presentation')
          button.btn.btn-default(type='button', aria-label='Left Align')
            span.glyphicon.glyphicon-plus(aria-hidden='true')
      // 
      div(ng-repeat='e in elements')
        // 個別メニュー
        .btn-group.col-sm-offset-11.col-sm-(uib-dropdown='', is-open='status.isopen')
          button#MenuButton.btn.btn-primary(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
            span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
          ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='single-button')
            li(role='menuitem')
              a(href='' ng-click='onDelete(e)' id='DeleteButton') Delete

        div(ng-switch on='e.type')
          // 賃貸
          div(ng-switch-when='rent')
            // 名称
            .form-group
              .col-sm-offset-2.col-sm-10
                h2 {{e.name}}
            // 期間
            .form-group
              label.col-sm-2.control-label #{viewMessage.period}:
              .col-sm-10
                .input-group
                  span.input-group-addon #{viewMessage.year}
                  input.form-control#RentPeriod(type='text' ng-model='e.period' ng-pattern="regex")
                  span(ng-hide="e.period") #{validationErrorMessage.isNumeric}
            // 家賃
            .form-group
              label.col-sm-2.control-label #{viewMessage.houseRent}:
              .col-sm-10
                .input-group
                  span.input-group-addon #{viewMessage.yen}
                  input.form-control#RentPayment(type='text' ng-model='e.payment' ng-pattern="regex")
                  span(ng-hide="e.payment") #{validationErrorMessage.isNumeric}
            // 更新料チェックボックス
            .form-group
              .col-sm-offset-2.col-sm-10
                .checkbox
                  label
                    input#RenewalChargeCheck(type='checkbox' ng-model='e.isRenewalCharge')
                    | #{viewMessage.renewalCharge}
            // 更新料設定エリア
            #RenewalChargeSettingsArea(ng-show='e.isRenewalCharge')
              // 更新料
              .form-group
                label.col-sm-offset-2.col-sm-2.control-label #{viewMessage.renewalCharge}:
                .col-sm-8
                  .input-group
                    span.input-group-addon #{viewMessage.yen}
                    input#RenewalCharge.form-control(type='text' ng-model='e.renewalCharge')
              // 更新料間隔
              .form-group
                label.col-sm-offset-2.col-sm-2.control-label #{viewMessage.renewalInterval}:
                .col-sm-8
                  .input-group
                    span.input-group-addon #{viewMessage.year}
                    input#RenewalInterval.form-control(type='text' ng-model='e.renewalInterval')
          div(ng-switch-when='loan') loan
          div(ng-switch-default) default
        hr
      // タイプ
      br
      .form-group
        label.col-sm-2.control-label #{viewMessage.type}:
        .col-sm-8
          div(ui-select ng-model='type.selected')
            div(ui-select-match placeholder='') {{$select.selected.name}}
            div(ui-select-choices repeat="type in types|filter:$select.search") {{type.name}}
        .col-sm-2
          button.btn.btn-default(type='button', aria-label='Left Align' ng-click='onTypeClicked(type.selected)' id='typeAddButton')
            span.glyphicon.glyphicon-plus(aria-hidden='true')
      hr
      // 送信
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(ng-click='onClick()' id='sendButton') #{viewMessage.send}

      #paymentGraphArea(ng-show='isReceiveResult')
        .col-sm-offset-2.col-sm-10
          #paymentGraph(style='width: 480px; height: 400px;')

      #paymentTableArea(ng-show='isReceiveResult')
        .col-sm-offset-2.col-sm-10
          .panel.panel-default
            .panel-heading result
            table.table.table-hover
              thead
                tr
                  th #{viewMessage.age}
                  th #{viewMessage.yearPayment}
                  th #{viewMessage.totalPayment}
              tbody
                tr(ng-repeat='result in results')
                  td#ResultAge {{result.age}}
                  td#ResultYearPayment {{result.yearPayment}}
                  td#ResultTotalPayment {{result.totalPayment}}

